.Footer-contenedor-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
    background-color: #333;
    color: whitesmoke;
}

.informacion{
    width: 100%;
    margin: 25px 0;
    text-transform: capitalize;
}

.left{
    width: 45%;
    height: inherit;
    padding: 10px 0;
    text-transform: capitalize;
}

.right{
    width: 45%;
    height: inherit;
    padding: 10px 0;
    text-transform: capitalize;

}

.escuela{
    margin-bottom: 15px;
}

.profesion{
    margin-bottom: 15px;
}

.creado{
    color: #e74040;
    cursor: pointer;
}